.feedback{
    padding-bottom: 20px;
}

.section_header{
    margin-top: 60px;
    margin-bottom: 50px;
}

.carousel-item{
    padding: 40px;
    background-color: #f9f9f9;
    height: 300px;
}

.feedback__Fullname{
    margin-top: 25px;
    color: #666666;
    .med;
    font-size: 20px;
}

.feedback__subtitle{
    .light;
    font-size: 17px;
    color: #666666;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.feedback__VK{
    .light;
    font-size: 17px;
}

.carousel-indicators{
    padding-top: 50px;
}

.carousel-item .active{
    background-color: #ff9933;
}

@media (max-width:1180px){
    .container{
        max-width: 800px;
    }

    .fotorama__img{
        width: 100%;
    }

    .rounded-circle{
        width: 100%;
    }

}
