.head{
    color: #666666;
}

.head__top{
    padding: 20px 0;
    background-color: #fff;
}

.head__title{
    /*.med;*/
    text-transform: uppercase;
}

.head__subtitle, head__work{
    /*.light;*/
}

.head__number{
    font-size: 28px;
    margin-top: -4px;
    .med;
    color: #666666;
    display: inline-block;

}

.head__number:hover{
    text-decoration: none;
    color: #6666660;
}

.head__number:before{
    margin-bottom: -0.5px;
    /*vertical-align: middle;*/
    margin-right: 3px;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon_phone.png) no-repeat center center;
    display: inline-block;
}



.head_bottom{
    background-color: #fafdfa;
    /*зафикс меню*/
    position: fixed;
    overflow: hidden;
    width: 100%;
}


.head__item{
    .light;
    margin-bottom: 0px;
    display: inline-block;
    text-transform: uppercase; /*с большой буквы*/
    padding: 20px 10px;
    color: #666666;
        -moz-transition: all 0.1s 0.02s ease;
        -o-transition: all 0.1s 0.02s ease;
        -webkit-transition: all 0.1s 0.02s ease;
}

.head__item:hover {
        text-decoration: none;
        background-color: #67cc67;
        color: #fff;
    }

.head_menu{
    display: none;
}



@media (max-width:1200px){
    .container{
        max-width: 800px;
    }

    .head__number{
    font-size: 20px;
    margin-top: -4px;
    .med;
    color: #666666;
    display: inline-block;
    }

    .head__number:before{
    margin-bottom: -3px;
    /*vertical-align: middle;*/
    margin-right: 3px;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon_phone.png) no-repeat center center;
    display: inline-block;
    }
}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }

    .head_bottom{
        position: relative;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_menu{
        position: absolute;
        display: block;
        width: 30px;
        height: 5px;
        background-color: aqua;
    }

    .head_menu::before{
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        width: 30px;
        height: 5px;
        background-color: red;
        display: block;
    }

    .head_menu::after{
        position: absolute;
        left: 0;
        top: 20px;
        content: '';
        width: 30px;
        height: 5px;
        background-color: green;
        display: block;
    }
/*
    .head_menu.head_menu-active{
        background-color: transparent;
    }*/

}

@media (max-width:768px){
    .container{
        max-width: none;
    }


}

@media (max-width:576px){
    .container{
        max-width: none;
    }

}
