section.main{
    background: url(../img/main_bg_1920.jpg) no-repeat center center;
    background-size: cover;
    padding: 105px 0;
}

.main__title{
    /*margin-top: 100px;*/
    margin-bottom: 90px;
    .bold;
    color: #fff;
    text-transform: uppercase;
}

.main__title span{
    background-color: #67cc67;
    padding: 5px;
}

.main__subtitle{
    text-transform: uppercase;
    .bold;
    color: #666666;
}

.main__subtitle span{
    color: #ff9933;
}

.main__btn{
    border: none;
    padding: 15px 33px;
    .bold;
    text-transform: uppercase;
    font-size: 20px;
}


.main__btn_GetMeasurer{
    background-color: #ff9933;
    color: #fff;
}

.main__btn_GetMeasurer:hover{
    background-color: #d67513;
}

.main__btn_GetTypes{
    margin-left: 20px;
    background-color: transparent;
    color: #ff9933;
    border: 2px solid #ff9933;
}

.main__btn_GetTypes{
    background-color: rgba(255, 255, 255, 0.7);
}
