body{
    font-family: 'PFDINTEXTCONDPRO-LIGHT' !important;
}

a:hover,
a:focus,
a:visited,
a:active{
    text-decoration: none;
}


.section_header{
    text-transform: uppercase;
    color: #666666;
    .bold;
}
@media (max-width:1180px){
    .container{
        max-width: 800px;
    }
}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width:768px){
    .container{
        max-width: none;
    }
}
